<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <style> 
        body { font-family: Arial, sans-serif;   background: #8cbaf7;}
         hr {
            height: 4px; 
            background: #7033ff; 
            width: 100%;
            margin: 15px 0;
        }
       </style>
</head>
<body>
    <div class="container">
        <h1>Главная страница сайта</h1>
        <hr>
        <p><h2><a href="/author/">Информация об авторе</a></h2></p>
        <p><h2><a href="/about/">Информация о магазине</a></h2></p>
    </div>
    <script></script>
</body>
</html>