<title>Информация о продукте</title>
<h1>{{ product.name }}</h1>

<p><strong>Категория:</strong> {{ product.category.name }}</p>
<p><strong>Производитель:</strong> {{ product.manufacturer.name }} ({{ product.manufacturer.country }})</p>
<p><strong>Цена:</strong> {{ product.price }} руб</p>
<p><strong>В наличии:</strong> {{ product.quantity }} шт.</p>
<p><strong>Описание:</strong> {{ product.description }}</p>
<div>
   {% if product.product_image %}
        <img src="{{ product.product_image.url }}" alt="{{ product.name }}" style="max-width: 500px;">
    {% else %}
        <p>Изображение отсутствует</p>
    {% endif %}

{% if user.is_authenticated and product.quantity > 0 %}
    <a href="{% url 'add_to_cart' product.id %}"><button type="submit">Добавить в корзину</button></a>
    <a href="{% url 'product_list'%}"><button type="submit">В каталог</button></a>
{% endif %}